.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row-filename {
  margin-top: 8px;
}

.fileName {
  color: black;
}

.icon {
  color: black;
}

.main-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.top-container {
  padding: 0 1rem;
  /* width: 50%; */
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.file-details {
  background: #eee;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  /* width: 50%; */
  margin: 1rem auto;
}

.details-box {
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  /* width: 50%; */
  margin: 1rem auto;
  margin-bottom: 1rem;
}

.custom-ui {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
}

.details-box p {
  text-align: left;
  margin: 0;
  margin-top: 1rem;
}
.details-box h4 {
  text-align: left;
  margin: 0;
}

.details-box button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
